@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: #d885a3;
  --purple: #655d8a;
  --blue: #F2F2F2;
  --piel: #c1c1c1;
  --whether: #fff;
  --black: #393646;
}
body {
  background-color: var(--blue);
  font-family: "Instrument Serif", serif;
  color: var(--purple);
  font-size: calc(2em + 2vw);
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* TEXTO SUPERIOR */

.text-superios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Instrument Serif", serif;
}
.text-superios h1 {
  letter-spacing: 2px;
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
}

/* FECHA  */

#fecha {
  color: var(--black);
  padding: 50px 0 5px 0;
  font-size: 2.5rem;
}

/* SECTIO FORMULARIO */
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--blue);
  font-family: "Instrument Serif", serif;
}
.container-form form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.container-form .continer-input {
  background-color: var(--whether);
  border-radius: 15px;
  display: flex;
  padding: 2rem;
  margin-top: 15px;
  width: 500px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container-form .continer-input input {
  background-color: var(--whether);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--purple);
}
input::placeholder {
  font-size: 1.5rem;
  color: var(--purple);
  font-weight: bold;
  margin-left: 10px;
  font-size: 2rem;
}
.container-form .container-tarea {
  background-color: var(--whether);
  border-radius: 15px;
  display: flex;
  padding: 1rem;
  margin-top: 15px;
  width: 500px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container-form .container-tarea textarea {
  background-color: var(--whether);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 2rem;
  color: var(--purple);
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

textarea::placeholder {
  color: var(--purple);
  font-weight: bold;
  margin-left: 10px;
  font-size: 2rem;
}
.container-form .buton {
  background-color: var(--purple);
  border-radius: 15px;
  display: flex;
  padding: 1rem;
  margin-top: 15px;
  width: 500px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.container-form .buton button {
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--whether);
  border: none;
}
/* SECTION DE LAS NOTAS */
.note-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
}
.card {
  /* background: linear-gradient(to bottom, var(--blue), var(--purple)); */
  margin-top: 10px;
  padding: 3rem;
  color: var(--purple);
  background-color: var(--piel);
  font-family: "Instrument Serif", serif;
}
.card > h3,
p {
  color: var(--purple);
  font-size: 3rem;
  /* font-weight: bold; */
}

.card > button {
  color: var(--whether);
  font-size: 2rem;
  width: 50%;
  margin-top: 10px;
  font-weight: bold;
  background: linear-gradient(to bottom, var(--blue), var(--purple));
}

.card:hover > button {
  background-color: #655d8a;
}
/* agregar tarea */
.agregadas {
  letter-spacing: 2px;
  color: var(--whether);
  font-family: "Instrument Serif", serif;
  font-size: 3rem;
  /* font-weight: bold; */
}
.footer {
  background-color: #161518;
  width: 100%;
  height: 50vh;
}
